<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>My Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="stylesheets/homepages.css.scss">
	
	<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    
    <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="js/waypoints.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    
</head>
<body>

	<nav>
		<ul class="navigation">
			<li data-slide="1"><a href="#">Slide 1</a></li>
			<li data-slide="2"><a href="#">Slide 2</a></li>
			<li data-slide="3"><a href="#">Slide 3</a></li>
			<li data-slide="4"><a href="#">Slide 4</a></li>
		</ul>
	</nav>

	<div class="main">

		<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5"></div>
		</div>

		<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5"></div>
		</div>

		<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5"></div>
		</div>

		<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5"></div>
		</div>
	</div>






	 <script type="text/javascript" src="js/skrollr.min.js"></script>
     <script type="text/javascript"></script>
	 <script src="js/plugins.js"></script>
     <script src="js/main.js"></script>
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>